In [5]:
# Import external script
!python models.py

In [6]:
fdata = pd.read_csv('data_histories.csv', index_col="dp_folio")
fdata.head()

,id_sexo,Aedad,AAedad,Apuesto,id_gestud,AIMC,fuma,fuma_act,ejer_act,ejer1,...,locout5,locout10,locout20,locout30,rest_act,rest1,rest5,rest10,rest20,rest30
dp_folio,,,,,,,,,,,,,,,,,,,,,
1,F,51,6,Admin,CarTec,4,1,3,0,2,...,1,1,1,1,0,0,0,0,0,0
2,F,38,4,Sec,Bach,3,2,-1,0,0,...,0,0,0,0,1,3,0,0,0,0
3,F,34,3,Int,Sec,5,1,1,0,0,...,1,-1,-1,-1,0,0,0,-1,-1,-1
4,M,63,8,Jef,CarTec,4,2,-1,2,2,...,0,0,0,-1,0,0,0,0,0,0
5,M,42,4,EM,Sec,3,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [7]:
pm = ProbModel()

In [10]:
# Clusterize between obese and non obese
obesity = {0:[1,2,3], 1:[4,5,6]}
ndata = pm.clusterize_discrete("AIMC", obesity, "obesity", fdata)

# Clusterize excercise features
ejer = {"A":"greatereq_than(2.5)", "B":"less_than(2.5)"}
ndata = pm.clusterize_continuous("ejer_act", ejer, "ejer0B", ndata)
ndata = pm.clusterize_continuous("ejer1", ejer, "ejer1B", ndata)
ndata = pm.clusterize_continuous("ejer5", ejer, "ejer5B", ndata)
ndata = pm.clusterize_continuous("ejer10", ejer, "ejer10B", ndata)
ndata = pm.clusterize_continuous("ejer20", ejer, "ejer20B", ndata)
ndata = pm.clusterize_continuous("ejer30", ejer, "ejer30B", ndata)

# Clusterize weight features
condi = {"A":[4,5], "B":[1,2,3]}
ndata = pm.clusterize_discrete("condi_act", condi, "condi0B", ndata)
ndata = pm.clusterize_discrete("condi1", condi, "condi1B", ndata)
ndata = pm.clusterize_discrete("condi5", condi, "condi5B", ndata)
ndata = pm.clusterize_discrete("condi10", condi, "condi10B", ndata)
ndata = pm.clusterize_discrete("condi20", condi, "condi20B", ndata)
ndata = pm.clusterize_discrete("condi30", condi, "condi30B", ndata)

ndata = pm.group_list_of_variables(["ejer0B", "ejer1B", "ejer5B", "ejer10B", "ejer20B", "ejer30B"], "ejerHistory", ndata)
ndata = pm.group_list_of_variables(["condi0B", "condi1B", "condi5B", "condi10B", "condi20B", "condi30B"], "condiHistory", ndata)

In [13]:
ndata

,id_sexo,Aedad,AAedad,Apuesto,id_gestud,AIMC,fuma,fuma_act,ejer_act,ejer1,...,ejer20B,ejer30B,condi0B,condi1B,condi5B,condi10B,condi20B,condi30B,ejerHistory,condiHistory
dp_folio,,,,,,,,,,,,,,,,,,,,,
1,F,51,6,Admin,CarTec,4,1,3,0,2,...,B,A,B,A,A,A,A,A,BBBBBA,BAAAAA
2,F,38,4,Sec,Bach,3,2,-1,0,0,...,A,B,A,A,A,A,A,A,BBAAAB,AAAAAA
3,F,34,3,Int,Sec,5,1,1,0,0,...,N,N,B,B,B,B,A,N,BBBANN,BBBBAN
4,M,63,8,Jef,CarTec,4,2,-1,2,2,...,A,A,B,B,A,A,A,A,BBAAAA,BBAAAA
5,M,42,4,EM,Sec,3,1,2,2,2,...,B,B,B,B,A,A,N,N,BBBBBB,BBAANN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,F,43,5,Acade,Lic,4,2,-1,2,0,...,A,A,B,B,B,A,A,A,BBBAAA,BBBAAA
1077,F,56,7,Jef,Sec,3,2,-1,4,4,...,B,A,B,B,B,B,B,A,AABBBA,BBBBBA
1078,M,63,8,Acade,Mast,3,1,2,2,3,...,A,A,A,A,A,A,A,A,BAAAAA,AAAAAA
1079,F,45,5,Int,Sec,2,1,1,0,0,...,B,B,A,A,A,A,A,A,BBBBBB,AAAAAA
1080,M,50,6,Acade,Doc,3,2,-1,0,0,...,A,A,A,B,A,A,A,A,BBAAAA,ABAAAA